footer {

    // regole parte superiore
    #up-footer {
        display: flex;
        align-items: center;
        height: 130px;
        background-color: rgb(12, 124, 236);
        color: white;
    }

    ul {
        list-style: none;
        font-size: 12px;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                color: white;
            }

            img {
                width: 40px;
                margin-right: 10px;
            }
        }
    }

    #list-up-footer {
        @include flex-around;
        height: 130px;
    }

    .li-up-footer {
        @include flex-between-center;
    }

    // regole parte centrale
    #central-footer {
        height: 300px;
        background-image: url("/resources/img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        .container {
            @include flex-between-center;

            #list-central-footer {
                display: flex;
                justify-content: space-between;
                width: 30%;

                div {
                    ul {

                        h2 {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        li {
                            margin-left: 0px;

                            a {
                                font-weight: lighter;
                                color: rgb(153, 153, 153);
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }

        #img-central-footer {
            width: 40%;
            height: 300px;
            background-image: url("/resources/img/dc-logo-bg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }




    // regole parte inferiore
    #down-footer {
        height: 100px;
        background-color: rgb(48, 48, 48);

        .container {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #right-down-footer {
                width: 30%;
                height: 100px;
                @include flex-between-center;
                color: rgb(12, 124, 236);

                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 10px;
                }

                .icons {
                    width: 60%;
                    display: flex;
                    justify-content: space-between;

                    .img-icon {
                        width: 30px;
                    }
                }
            }
        }
    }

    #my-button {
        background-color: rgb(48, 48, 48);
        border: 2px solid rgb(12, 124, 236);
        color: white;
        padding: 10px;

        &:hover {
            cursor: pointer;
            background-color: rgb(78, 78, 78);
        }
    }
}