header {
    .row {

        height: 150px;
        color: rgb(12, 124, 236);

        .laravel {
            h1 {
                font-size: 50px;
                text-shadow: 2px 2px black;
            }

            display: flex;
            justify-content: end;
            align-items: center;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-img:hover {
                border: 3px solid rgb(12, 124, 236);
                box-shadow: 4px 4px 10px rgb(12, 124, 236);
                border-radius: 5px;
                padding: 5px;
            }
        }

        .comics {
            h1 {
                font-size: 50px;
                text-shadow: 2px 2px black;
            }

            display: flex;
            justify-content: start;
            align-items: center;
        }
    }
}